.title {
    padding: 5rem;
    background-color:rgba(211, 211, 213, 0.115);
    color: rgba(20, 20, 22, 0.937);
    text-align: center;
    margin: 1rem 7rem 2rem 7rem;
    letter-spacing: 0.1em;
    box-shadow: 0 3px 5px rgba(211, 211, 213, 0.551);
    font-size: large;
}

.content {
    padding-left: 10rem;
    padding-right: 10rem;
    justify-content: center;
    align-items: center;
}
