@use '../../partials/mixins.scss';

.title {
    padding: 3rem;
    background-color: rgba(128, 128, 128, 0.056);
    color:rgba(22, 22, 236, 0.78);
    margin: 1rem 7rem 2rem 7rem;
    letter-spacing: 0.1em;
    box-shadow: 0 3px 5px rgba(211, 211, 213, 0.72);
    font-size: 1.6rem;
    text-shadow: 2px 2px 3px  white;
    border-radius: 0.2rem;
}

.content {
    padding: 1rem 10rem 1rem 10rem;

    margin: 1rem 7rem 2rem 7rem;
    box-shadow: 0 3px 5px rgba(0, 0, 255, 0.134);
    background-color: rgba(128, 128, 128, 0.008);
    border-radius: 0.2rem;
}

// phone
@include mixins.phone {
    @include mixins.employee-list-mobiles
}

@include mixins.tablet {
    @include mixins.employee-list-mobiles
}

