.nav {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem 7rem 1rem 0;
  background-color: rgba(128, 128, 128, 0.008);
  font-size: 1.3rem;
  box-shadow: 1px 3px 5px rgb(211, 211, 213);

  &:hover {
		border: none;
		border-bottom: 3px solid rgba(0, 0, 255, 0.134);
	}
}

.link {
  color: black;
  &:hover {
    color: black;
  }
}

.active_link {
  text-decoration: underline;
  &:visited {
    color: black;
  }
}
